In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [ ]:
# reflect an existing database into a new model
cursor = conn.cursor()
# reflect the tables
cursor.execute("SELECT name FROM hawaii.sqlite WHERE type='table' ORDER BY name")

In [ ]:
# Save references to each table

In [ ]:
# Create our session (link) from Python to the DB
Session = hawaii.sqlite(bind=engine)

# Exploratory Precipitation Analysis

In [ ]:
# Find the most recent date in the data set.
SELECT MAX(date) FROM hawaii_measurements;

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
SELECT date, prcp 
FROM hawaii_measurements
WHERE date >= date('now', '-12 months')
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores
df = pd.read_csv('hawaii_measurements.csv')
data_station = ['date', 'station']
precip_prcp = ['date', 'prcp']



# Save the query results as a Pandas DataFrame and set the index to the date column

data_df = df[data_station]
precip_df = df[precip_prcp]



# Use Pandas Plotting with Matplotlib to plot the data

df = pd.read_csv('hawaii_measurements.csv')
df.plot
plt.xlabel('X-axis label')
plt.ylabel('Y-axis label')
plt.title('Plot title')
plt.legend(['Legend 1', 'Legend 2'])
plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
query = "SELECT precipitation FROM hawaii_measurements"
df1 = pd.read_sql(query, engine)

summary_stats = df1['precipitation'].describe()

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset
query = func.count(func.distinct('station')).label('total_stations')
result = engine.execute(query).scalar()

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
query = (
    "SELECT station, COUNT(*) AS total_rows "
    "FROM station "
    "GROUP BY station "
    "ORDER BY total_rows DESC"
)
result = engine.execute(query)

print("Most active stations:")
for row in result:
    station = row['station']
    total_rows = row['total_rows']
    print(f"Station: {station}, Total Rows: {total_rows}")

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.
most_active_station = 'station'

# Execute the SQL query to calculate the temperature statistics
query = (
    "SELECT MIN(temperature) AS lowest_temp, "
    "MAX(temperature) AS highest_temp, "
    "AVG(temperature) AS average_temp "
    "FROM tobs"
    "WHERE station = :station_id"
)
result = engine.execute(query, station_id=most_active_station)

In [ ]:
# Using the most active station id

# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
query = (
    "SELECT MAX(date) AS max_date "
    "FROM tobs "
    "WHERE station = :station_id"
)
result = engine.execute(query, station_id=most_active_station)


max_date = result.fetchone()['max_date']

max_date = datetime.strptime(max_date, '%Y-%m-%d')

one_year_ago = max_date - timedelta(days=365)


plt.hist(temperature_data, bins=20, edgecolor='black')


plt.title('Temperature Distribution for Most Active Station')
plt.xlabel('Temperature')
plt.ylabel('Frequency')

plt.show()

# Close session

In [ ]:
# Close Session
session.close()